@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


body {
    font-family: 'S-CoreDream-4Regular';
    min-width: 1320px;
}


/* 헤더 */
.nav {
    width: 1320px;
    margin: 20px auto;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}


header ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.d_left {
    position: absolute;
    left: 12%;

}

.d_left a {
    display: block;
    margin-right: 55px;
    font-weight: 500;
    font-size: 18px;
}

.d_left a:hover {
    color: #013723;
    font-weight: bold;
}

.d_right {
    position: absolute;
    right: 0;
}

.d_right a {
    display: block;
    margin-right: 35px;
    font-weight: 500;
    font-size: 18px;
}

.d_right a:hover {
    color: #013723;
    font-weight: bold;
}

.d_right li img:hover {
    opacity: 0.5;
}

/* 헤더 끝 */

/* 메인배너 */
.banner img {
    width: 100%;
}

/* Q&A */
h1{font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight: 100;
    margin: 40px 0;}

    span{ font-family: '나눔고딕';
    font-weight: 400;
}

#board { 
	width:1200px; 
	margin:50px auto; 
}
#board li{ 
	width:100%; 
}
#board li a{ 
	display:block;
	border:1px solid #CCC; 
	padding:15px 25px;  
	background: url(../images/icon1.png) no-repeat 95% 50%;
}
#board li:hover a{  
	font-weight:bold; 
	background-color: #eee;
}
#board li.on a{
	font-weight:bold; 
	background-color: #eee;
	background: #eee url(../images/icon2.png) no-repeat 95% 50%;
}
 #board li:nth-child(2) a, #board li:nth-child(3) a, #board li:last-child a{
	border-top:0;
}
#board li div{ 
	width:100%; 
	border:1px solid #ccc; 
	border-top:0;
	padding:15px 40px;
	box-sizing:border-box; 
	height:auto;
	display:none;
}

/* Q&A 끝 */

.botton {width: 1200px;
margin: 50px auto;
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: flex;
justify-content: center;
}

.botton p {padding: 0 30px;}

.botton p a:hover{color: #013723;font-weight: bold;}



/* 푸터 */
footer {
    background: url(../images/footer.png) no-repeat center top;
    height: 386px;
    width: 100%;
}

.footer_inner {
    padding-top: 40px;
    width: 1200px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    font-family: 'S-CoreDream-3Light';
}


.footer_inner p {
    line-height: 35px;
}

.link li {
    padding-bottom: 15px;
}

.link>li>a:hover {
    border-bottom: 1px solid black;
}

.join2 {
    text-align: center;
}

.footer_inner .join2 a {
    color: white;
    width: 50px;
    padding: 5px;
    border-radius: 30px;
    display: inline-block;
    background-color: #013723;
}

.footer_inner .join2 a:hover {
    background-color: #386a3f;
    color: white;
}

.sns img {
    display: block;
    margin: auto;
    width: 46px;
    height: 46px;
    padding-top: 15px;
}

.sns img:hover {
    opacity: 0.5;
}

.topb{
    position:fixed; 
    bottom:50px; 
    right:50px; 
    display:none;
    z-index: 99;
  }
